## 0. Import das bibliotecas

In [1]:
import pandas as pd

## 1. Dados

### 1.1 import dos arquivos csv

In [2]:
dados_completos = pd.read_csv('dataset/application_record.csv')
status_credito = pd.read_csv('dataset/credit_record.csv')

In [3]:
status_credito.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C